
.button {
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  color: #FFFFFF;
  background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 100%);
  border-radius: 22px;
  padding: 8px 34px;
  border: none;
  cursor: pointer;
}
