
.footer {
  background: #2D314D;
  padding: 40px 0;
  text-align: center;

  .container {
    display: flex;
    flex-direction: column;

    svg > g > path {
      fill: #FFFFFF;
    }

    .socialLinkContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-gap: 16px;
      margin: 32px 0;
    }

    .sitemapContainer {
      display: flex;
      flex-direction: column;
      grid-gap: 8px;
      font-size: 15px;
      line-height: 26px;
      letter-spacing: -0.23px;
      color: #FFFFFF;
      margin-bottom: 32px;
    }

    .copyright {
      font-size: 15px;
      line-height: 26px;
      letter-spacing: -0.23px;
      color: rgba(255, 255, 255, 0.5);
      margin-top: 24px;
    }
  }
}
