@import "styles/utils";

.card {
  .icon {
    width: 72px;
    height: 72px;
    margin-bottom: 24px;

    @include media(">tablet") {
      margin-bottom: 40px;
    }
  }

  .title {
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.35px;
    color: #2D314D;
    margin-bottom: 16px;

    @include media(">tablet") {
      font-size: 24px;
      line-height: 28px;
      letter-spacing: -0.42px;
      margin-bottom: 26px;
    }
  }

  .description {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.2px;
    color: #9597A5;

    @include media(">tablet") {
      font-size: 16px;
      line-height: 26px;
    }
  }
}
